---
permalink: /index.html
---
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>hbmueller.dev</title>
  <meta http-equiv="refresh" content="0; url=https://github.com/hbmueller">
  <link rel="canonical" href="https://github.com/hbmueller">
  <script>window.location.replace("https://github.com/hbmueller");</script>
</head>
<body>
  <p>Redirecting to <a href="https://github.com/hbmueller">github.com/hbmueller</a>…</p>
</body>
</html>
